{% extends "base.html.twig" %}

{% block title %}AppBundle:Place:index{% endblock %}

{% block body %}
<h1>Helllo</h1>

        <div> {{ plece.name }} </div>
        <img width="400" height="200" src="{{ vich_uploader_asset (plece , 'imageFile') }}">
        <div> {{ plece.description }} </div>

    {% for dish in plece.dishes %}
        <img width="200" height="100" src="{{ vich_uploader_asset (dish, 'imageFile') }}">
        <div>{{ dish.name }}</div>
        <div>{{ dish.price }}</div>
        {% endfor %}
{% endblock %}