{% extends "base.html.twig" %}

{% block title %}AppBundle:Place:index{% endblock %}

{% block body %}

<div style="text-align: center">
    <h1 >Страница всех ресторанов</h1>
    {% for data in datas %}
    <div style="display: inline-block">
        <img width="400" height="200" src="{{ vich_uploader_asset (data.place , 'imageFile') }}">
            <br>
           <h3><a href="{{ path('detail',{'id' : data.place.id}) }}" >{{ data.place.name }}</a></h3>
        {% for dish in data.dishes %}
            <img width="200" height="100" src="{{ vich_uploader_asset (dish.dish , 'imageFile') }}">
            <div>{{ dish.dish.name }}</div>
            <p>({{ dish.amount }} покупок за последний год)</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
